* {
    font-family: Arial;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

#fih-logo {
    height: 80px;
    margin: 1%;
}

#scu-logo {
    height: 80px;
    margin: 1%;
}

.body-container {
    background-color: #b30738;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 5%;
}

#login-container {
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 6%;
    margin: 5%;
}

.dashboard {
    background-color: white;
    color: black;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 3%;
}

.admin-dashboard {
    background-color: white;
    color: black;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    padding: 3%;
}

.breadcrumb {
    align-self: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 200px;
    width: 400px;
    margin: 10px;
}

.square:hover {
    color: white;
    background-color: #b30738;
}

#row1 {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}

.input-form {
    width: 500px;
}

input {
	background-color: #eee;
    border: none;
    border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

button {
	border-radius: 20px;
	border: 1px solid #b30738;
	background-color: #b30738;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
    padding: 12px 45px;
    margin: 8px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#deliverables {
    margin: 30px;
}

#costs {
    margin: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b30738;
    color: white;
}

.edit-button {
    border-radius: 5px;
	border: 1px solid #b30738;
	background-color: #b30738;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
    padding: 5px 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.edit-button:hover {
    background-color: #790022;
}

.edit-button:active {
	transform: scale(0.95);
}

.edit-button:focus {
	outline: none;
}

.edit-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#team-container {
    display: flex;
    flex-direction: column;
}

.member-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

#input-name {
    margin-right: 5px;
}

.short-answer {
    height: 100px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.submit {
    align-self: center;
}

.person-select {
	display: block;
    line-height: 1.3;
    border: 1px solid #aaa;
    border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	max-width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #eee;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.person-select::-ms-expand {
	display: none;
}
.person-select:hover {
	border-color: #888;
}
.person-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.person-select option {
	font-weight:normal;
}